@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply outline-2 outline-offset-2 outline-black/30 transition-all duration-200 ease-in-out focus:outline active:scale-95 dark:outline-white/30;
    }
    .basic {
        @apply flex h-[40px] items-center justify-center rounded-full border border-gray-light-5 bg-gray-light-2 text-sm font-semibold text-gray-light-12 hover:bg-gray-light-3 dark:border-gray-dark-5 dark:bg-gray-dark-2 dark:text-gray-dark-12 dark:hover:bg-gray-dark-3;
    }
    .hero-text {
        @apply m-0  text-center text-5xl font-bold tracking-tight text-gray-light-12 dark:text-gray-dark-12 sm:text-6xl md:text-8xl;
    }

    .med-hero-text {
        @apply m-0  text-left text-4xl font-bold tracking-tight text-gray-light-12 dark:text-gray-dark-12 sm:text-4xl  md:text-6xl lg:text-center;
    }

    .connect-hero-text {
        @apply m-0  text-left text-4xl font-bold tracking-tight  sm:text-4xl  md:text-6xl lg:text-center;
    }

    .sm-hero-text {
        @apply m-0  text-left text-5xl font-bold tracking-tight text-gray-light-12 dark:text-gray-dark-12 sm:text-6xl md:text-8xl;
    }
}

.mint_counter .mint_counter_sm {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

html.dark {
    background: rgb(22 22 22 / var(--tw-bg-opacity));
}

html.dark {
    background: rgb(34 43 28 / var(--tw-bg-opacity));
}

html.dark {
    background: rgb(118 74 188 / var(--tw-bg-opacity));
}

html {
    background: rgb(252 252 252 / var(--tw-bg-opacity));
}

.dark .gradient {
    background-image: radial-gradient(
        91.36% 358.74% at 12.29% 100%,
        #c9bbff 0%,
        #b2ecff 30.08%,
        #ffc1f9 60.28%,
        #fff5c1 100%
    );
}

.gradient {
    background-image: radial-gradient(
        91.36% 358.74% at 12.29% 100%,
        #9d85ff 0%,
        #7ad4f0 30.08%,
        #f554e5 60.28%,
        #e7cf55 100%
    );
}

.move-gradient {
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
